NUXT_PUBLIC_API_BASE=http://localhost:3001
NUXT_PUBLIC_SITE_URL=http://localhost:3000

ATLAS_UI_REMOTE=http://localhost:3003/_mf/mf-manifest.json
ATLAS_CATALOG_REMOTE=http://localhost:3002/_mf/mf-manifest.json

ATLAS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3002,http://localhost:3003
